appdirs==1.4.3
argh==0.26.2
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
bootstrapped==0.0.2
box2d-py==2.3.8
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==4.0.2
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.20
docker==3.5.1
docker-pycreds==0.4.0
Flask==0.12.4
future==0.17.1
gitdb2==2.0.6
GitPython==3.0.5
glfw==1.11.2
gql==0.2.0
graphql-core==1.1
gym==0.10.11
idna==2.8
imageio==2.6.1
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.10.1
jsonmerge==1.5.2
jsonschema==2.6.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
nop==0.1.1
numpy==1.16.3
nvidia-ml-py3==7.352.0
olefile==0.46
packaging==19.0
pandas==0.25.3
pathtools==0.1.2
Pillow==5.4.1
promise==2.3
psutil==5.6.7
pycparser==2.19
pyglet==1.4.9
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
PySocks==1.6.8
python-cli-ui==0.7.5
python-dateutil==2.8.1
python-rapidjson==0.6.3
pytz==2019.3
PyYAML==5.3
readchar==2.0.1
requests==2.21.0
ruamel.yaml==0.15.94
scipy==1.2.1
seaborn==0.9.0
sentry-sdk==0.14.0
shortuuid==0.5.0
six==1.12.0
smmap2==2.0.5
subprocess32==3.5.4
tabulate==0.8.3
torch>=1.4,<1.5
torchvision==0.5.0
tqdm==4.41.1
typed-ast==1.3.5
Unidecode==1.0.23
urllib3==1.24.2
wandb==0.8.29
watchdog==0.9.0
websocket-client==0.53.0
websockets==6.0
Werkzeug==0.15.2
wrapt==1.11.1
